.showHover {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
}
.hideHover {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s;
}

.txtPoint {
    text-align: center;
    transform: scaleY(1.2);
}
.infoCinema {
    text-align: start;
    white-space: nowrap;
}
.BHD {
    color: $color-green-light;
}
