@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}
@mixin styleButton($bg-color, $bd-color, $pd-y, $pd-x, $bd-radius) {
    background-color: $bg-color;
    border: 1px solid $bd-color;
    padding: $pd-y $pd-x;
    border-radius: $bd-radius;
}
@mixin styleButtonHover($color, $bg-color, $bd-color) {
    color: $color;
    background-color: $bg-color;
    border-color: $bd-color;
}
@mixin textLimit {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin responsive($screen) {
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
        // tìm thấy màn hình
        // Lấy giá trị từ tên màn hình
        // $value chứa giá trị lấy dc
        $value: map-get(
            $map: $breakpoints,
            $key: $screen,
        );
        @media screen and (max-width: $value) {
            @content;
        }
    } @else {
        @warn "ko tìm thấy màn hình";
    }
}
