.tixCarousel {
    z-index: 99;
    transform: translateY(58px);
    .carousel {
        position: relative;
        transition: 0.4s;

        .tixCarousel__playbtn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            transition: 0.4s;
            &:hover {
                opacity: 0.5;
            }
        }
        &:hover .tixCarousel__playbtn {
            display: block;
        }
        .tixCarousel__bgLinear {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #000, transparent 20%);
            top: 0;
        }
        .tixCarousel__choice {
            max-width: 940px;
            margin: auto;
            height: 80px;
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 50%;
            transform: translate(-50%, 50%);
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 30%);
            .dropdown {
                float: left;
                padding-right: $pd-1 - 2;
                transform: translateY(50%);
                .nav-link {
                    padding: 10px;
                    @include styleText($color-black-0, $fs-0, $fw-normal);
                    i {
                        color: $color-default;
                        font-size: $fs-1;
                    }
                }
                .dropdown-menu {
                    .dropdown-item {
                        transition: 0.3s;
                        &:hover {
                            color: $color-white-0;
                            background-color: $color-sky-blue;
                        }
                    }
                }
            }
            .choice-film {
                width: 30%;
                float: left;
            }
            .choice-theater {
                width: 17.5%;
            }
            .choice-date {
                width: 17.5%;
            }
            .choice-time {
                width: 17.5%;
            }
            .choice-paybtn {
                float: right;
                width: 17.5%;
                padding-left: 10px;
                transform: translate(0, 45%);
                button {
                    color: $color-white-0;
                    text-transform: uppercase;
                    @include styleButton($color-black-2, $color-trans, $pd-1, $pd-2 + 5, 5px);
                }
            }
        }
        .carousel-indicators {
            bottom: 13%;
            margin: auto;
            li {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                opacity: 1;
            }
            .active {
                background-color: $color-red;
            }
            &:hover .tixCarousel__playbtn {
                display: block;
            }
        }
        .carousel-control-prev {
            img {
                margin-right: 130px;
            }
        }
        .carousel-control-next {
            img {
                margin-left: 130px;
            }
        }
    }
}
@include responsive("large") {
    .carousel-control-prev {
        img {
            margin-right: 80px !important;
        }
    }
    .carousel-control-next {
        img {
            margin-left: 80px !important;
        }
    }
}
@include responsive("large") {
    .carousel-control-prev {
        img {
            margin-right: 40px !important;
        }
    }
    .carousel-control-next {
        img {
            margin-left: 40px !important;
        }
    }
}
