.tixNews {
    width: 80%;
    margin: 50px auto;
    .tixNews__header {
        background-image: url(../../img/back-news.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 120px;
        .nav-link {
            @include styleText($color-black-0, 24px, $fw-bold-0);
            &:focus {
                @include styleText($color-red, 28px, $fw-bold-0);
                transition: 0.2s;
            }
        }
    }
    .tixNews__content {
        margin-top: $mg-0;
        .card {
            border: none;
            .card-title {
                @include styleText($color-black-0, 16px, $fw-bold-0);

                &:hover {
                    @include styleText($color-red, 16px, $fw-bold-0);
                    transition: 0.2s;
                }
            }
            .card-text {
                @include styleText(#4a4a4a, 13px, $fw-normal);
                text-align: justify;
                height: 57px;
            }
            .icon {
                font-size: 15px;
                margin: $mg-0;
                i {
                    margin: $mg-1;
                }
            }
        }
        .list-unstyled {
            .media {
                margin-bottom: 10px;
                img {
                    width: 20%;
                    border-radius: 4px;
                }
            }
            .media-body {
                margin-left: $mg-1;
                a {
                    @include styleText(#4a4a4a, 16px, $fw-normal);
                    text-align: justify;
                    text-decoration: none;
                    &:hover {
                        @include styleText($color-red, 16px, $fw-normal);
                        transition: 0.2s;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .btn-outline-secondary {
        display: block;
        margin: 30px auto;
        padding: 10px 20px;
        &:hover {
            background-color: #fb4226;
            border-color: #fb4226;
            color: #fff !important;
        }
    }
}
@include responsive("medium") {
    .tixNews {
        width: 98%;
        margin: 50px auto;
        .tixNews__header {
            padding-top: 60px;
            .nav-link {
                @include styleText($color-black-0, 17px, $fw-bold-0);
                &:focus {
                    @include styleText($color-red, 18px, $fw-bold-0);
                    transition: 0.2s;
                }
            }
        }
        .tixNews__content {
            .list-unstyled {
                .media {
                    margin-left: 5px;
                    margin-bottom: 6px;
                    img {
                        width: 15%;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}
